div {
      /* border-style: groove;     */
}

body {
    padding-top: 70px;
}

.mitoInfo {
    border-radius: 4px 4px 4px 4px;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    text-align: center;
}

.container {
    margin: auto;
    display: table;
    min-width: 320px;
}

.input-group {
    width: 100%;
}

.ligaInfo {
    display: inline-flex;
}

a.list-group-item {
    display: inline-flex;
}

.list-group-item div {
    cursor: pointer;
}

.col1 {
    width: 1vw;
}

.col2 {
    width: 10vw;
    align-self: center;
}

.col3 {
    width: 66vw;
    align-self: center;
}

.col4 {
    width: 8vw;
    text-align: right;
    align-self: center;
}

.col5 {
    width: 39vw;
}

.ligaNome {
    font-stretch: ultra-condensed;
    font-weight: bold;
}

.ligaDesc {
    color: gray;
    font-style: italic;
    font-size: 10px;
    text-align: justify;
}

.posicaoJogador {
    color: gray;
    font-size: 9px;
    font-style: inherit;
    align-self: flex-end;
    padding-left: 1vw;
}

.siglaClube {
    align-self: center;
    font-size: 18px;
    font-weight: 900;
    font-stretch: extra-condensed;
    margin-right: 10px;
}