div {
    /* border-style: groove; */
}

body {
    background-color: ghostwhite;
}

.container-main {
    padding-top: 70px;
    min-width: 260px;
}

.list-group-item div {
    cursor: pointer;
}

.roundedImage {
    border-radius: 200px;
}

.fullW {
    width: 100%;
}

.right {
    text-align: right;
    margin-left: 10px;
}

.center {
    text-align: center;
}

.classificacao {
    min-width: 20px;
}

.imgComp {
    white-space: nowrap;
    min-width: 50px;
}

.inlineDiv {
    display: inline-flex;
    width: 100%;
}

.ligaNome {
    font-stretch: ultra-condensed;
    font-weight: bold;
    width: 100%;
}

.ligaDesc {
    color: gray;
    font-style: italic;
    font-size: 10px;
    text-align: justify;
}

img {
    margin: 6px;
}

.pontuacao {
    color: darkgreen;
    font-weight: bold;
}

div {
    align-self: center;
}

.escudo {
    display: block;
    margin: 0 auto;
    height: 35px;
}

.fotoPerfil {
    position: relative;
    height: 18px;
    border-radius: 35px;
    margin: 0 auto;
    bottom: 18px;
    left: 9px;
}

.nomeCartola {
    color: gray;
    font-style: italic;
    font-size: 10px;
}

.clube {
    font-size: 10px;
    margin-right: 10px;
    white-space: nowrap;
    align-self: flex-end;
}

.posicaoJogador {
    font-size: 9px;
    color: gray;
    align-self: flex-end;
}

.scoutInfo {
    white-space: nowrap;
    font-size: 9px;
    margin-right: 6px;
    display: inline-flex;
}

.versus {
    margin: 10px;
    width: 10%;
    text-align: center;
}

.timeMataMata {
    width: 45%;
    cursor: pointer;
}

.fixedTopRight {
    position: fixed;
    z-index: 1;
    top: 54px;
    right: 14px;
}

.input-group {
    width: 100%;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.watermark {
    opacity: .5;
}

.classLigaInfo {
    display: inline-flex;
    font-size: 9px;
    /* color: gray; */
    margin-left: 10px;
}

#textosLiga {
    width: 100%;
}