<div id="divLigas">
    <div class="slide-animate-container">
        <div class="slide-animate" ng-include="'/client/templates/message.html'"></div>
    </div>
    <label for="ligasPart">Ligas</label>
    <ligas id="ligasPart" ligas="ligas" filter="{time_dono_id: '', tipo_fase: '!F'}"></ligas>
    <label for="ligasCart">Ligas do Cartola</label>
    <ligas id="ligasCart" ligas="ligas" filter="{time_dono_id: '!'}"></ligas>
    <label for="ligasPart">Torneios Finalizados</label>
    <ligas id="ligasPart" ligas="ligas" filter="{time_dono_id: '', tipo_fase: 'F'}"></ligas>
</div>