<div id="divLigaPontosCorridos">
    <div id="divMenu" class="list-group">
        <div id="divLiga" class="list-group-item inlineDiv">
            <liga-info class="fullW" ng-init="vm.liga.liga.imagem = vm.liga.liga.url_flamula_png" liga="vm.liga.liga"></liga-info>
            <div id="selectButton" class="dropdown right fixedTopRight">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                                <div ng-switch="vm.orderProp" style="display: inline-block">
                                    <div class="glyphicon glyphicon-star" ng-switch-when="pontos.campeonato"></div>
                                    <div class="glyphicon glyphicon-step-backward" ng-switch-when="pontos.rodada"></div>
                                    <div class="glyphicon glyphicon-star-empty" ng-switch-when="pontos.parcial"></div>
                                    <div class="glyphicon glyphicon-calendar" ng-switch-when="pontos.mes"></div>
                                    <div class="glyphicon glyphicon-euro" ng-switch-when="patrimonio"></div>
                                </div>
                                <div class="caret"></div>
                            </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    <li class="selectItem"><a ng-click="vm.setOrder('pontos.campeonato')"><span class="glyphicon glyphicon-star"></span> Campeonato</a></li>
                    <li class="selectItem"><a ng-click="vm.setOrder('pontos.parcial')"><span class="glyphicon glyphicon-star-empty"></span> Parciais</a></li>
                    <li class="selectItem"><a ng-click="vm.setOrder('pontos.rodada')"><span class="glyphicon glyphicon-step-backward"></span> Última Rodada</a></li>
                    <li class="selectItem"><a ng-click="vm.setOrder('pontos.mes')"><span class="glyphicon glyphicon-calendar"></span> Mensal</a></li>
                    <li class="selectItem"><a ng-click="vm.setOrder('patrimonio')"><span class="glyphicon glyphicon-euro"></span> Patrimônio</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group">
        <a class="list-group-item inlineDiv" ui-sref="timeDetails({ slug: time.slug })" ng-repeat="time in vm.liga.times | orderBy:[vm.orderProp,'pontos.campeonato']:true">
            <div class="classificacao">
                <div>
                    {{$index+1}}<sup><u>o</u></sup>
                </div>
                <div>
                    <div ng-switch="vm.orderProp">
                        <div ng-switch-when="pontos.campeonato">
                            <div ng-init="vm.statusMercado.status_mercado == 1 ? diff = time.variacao.campeonato : diff = time.ranking.campeonato - $index - 1"
                                ng-up-down>
                            </div>
                        </div>
                        <div ng-switch-when="patrimonio">
                            <div ng-init="diff = time.variacao.patrimonio" ng-up-down>
                            </div>
                        </div>
                        <div ng-switch-when="pontos.mes">
                            <div ng-init="vm.statusMercado.status_mercado == 1 ? diff = time.variacao.mes : diff = time.ranking.mes - $index - 1" ng-up-down>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="imgComp">
                <img height="35" ng-src="{{time.url_escudo_png}}" onerror="this.src='http://www.freeiconspng.com/uploads/flat-shield-icon-17.png'"
                />
                <img height="18" ng-src="{{time.foto_perfil}}" style="border-radius: 25px; position: relative; left: -30px; top: 10px;" onerror="this.src='http://www.freeiconspng.com/uploads/customers-icon-3.png'"
                />
            </div>
            <div class="fullW">
                <div><b>{{time.nome}}</b></div>
                <div>{{time.nome_cartola}}</div>
            </div>
            <div class="right">
                <div ng-switch="vm.orderProp">
                    <div ng-switch-when="pontos.campeonato">
                        <div class="pontuacao" ng-style="time.pontos.campeonato < 0 && {'color':'red'}">
                            {{time.pontos.campeonato | number:2}}
                        </div>
                        <div ng-if="vm.statusMercado.status_mercado == 2">{{time.pontos.atletas}}/12</div>
                    </div>
                    <div ng-switch-when="pontos.rodada">
                        <div class="pontuacao" ng-style="time.pontos.rodada < 0 && {'color':'red'}">
                            {{time.pontos.rodada | number:2}}
                        </div>
                    </div>
                    <div ng-switch-when="pontos.parcial">
                        <div class="pontuacao" ng-style="time.pontos.parcial < 0 && {'color':'red'}">
                            {{time.pontos.parcial | number:2}}
                        </div>
                        <div>{{time.pontos.atletas}}/12</div>
                    </div>
                    <div ng-switch-when="pontos.mes">
                        <div class="pontuacao" ng-style="time.pontos.mes < 0 && {'color':'red'}">
                            {{time.pontos.mes | number:2}}
                        </div>
                        <div ng-if="vm.statusMercado.status_mercado == 2">{{time.pontos.atletas}}/12</div>
                    </div>
                    <div class="pontuacao" ng-switch-when="patrimonio">{{time.patrimonio | number:2}}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>