<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="scoutInfo"><span class="glyphicon glyphicon-screenshot"></span>&nbsp;&nbsp;Mata-mata</div>
        <div class="scoutInfo"><span class="glyphicon glyphicon-th-list"></span>&nbsp;&nbsp;Pontos Corridos</div>
        <div class="scoutInfo"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Liga Aberta</div>
        <div class="scoutInfo"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;Liga Moderada</div>
        <div class="scoutInfo"><span class="glyphicon glyphicon-lock"></span>&nbsp;&nbsp;Liga Fechada</div>
    </div>
</div>