<div class="center">
    <div class="imgComp">
        <img class="escudo" ng-src="{{vm.time.url_escudo_png}}" onerror="this.src='http://www.freeiconspng.com/uploads/flat-shield-icon-17.png'"
        />
        <img class="fotoPerfil" ng-src="{{vm.time.foto_perfil}}" onerror="this.src='http://www.freeiconspng.com/uploads/customers-icon-3.png'"
        />
    </div>
    <div class="fullW">
        <div class="ligaNome">
            {{vm.time.nome}}
        </div>
        <div class="nomeCartola">
            {{vm.time.nome_cartola}}
        </div>
    </div>
    <div data-ng-init="pontos=getPontos()">
        <div id="pontos" class="pontuacao" data-ng-if="pontos">
            <div data-ng-style="pontos < 0 && {'color': 'red'}">
                {{pontos | number:2}}
            </div>
        </div>
        <div data-ng-if="!pontos" id="parciais">
            <div class="pontuacao">
                <div data-ng-style="vm.time.parciais.total < 0 && {'color': 'red'}">
                    {{vm.time.parciais.total | number:2}}
                </div>
            </div>
            <div>
                {{vm.time.parciais.atletas}}/12
            </div>
        </div>
    </div>
</div>