<div ng-include="'/client/templates/message.html'"></div>
<div id="timeDetails" class="list-group" data-ng-show="vm.time.time.url_escudo_png">
    <div class="list-group-item">
        <div class="inlineDiv">
            <div class="imgComp">
                <img height="35" ng-src="{{vm.time.time.url_escudo_png}}" onerror="this.src='http://www.freeiconspng.com/uploads/flat-shield-icon-17.png'"
                />
                <img height="18" ng-src="{{vm.time.time.foto_perfil}}" style="border-radius: 25px; position: relative; left: -30px; top: 10px;"
                    onerror="this.src='http://www.freeiconspng.com/uploads/customers-icon-3.png'" />
            </div>
            <div class="fullW">
                <div class="ligaNome">
                    {{vm.time.time.nome}}
                </div>
                <div class="ligaDesc">
                    {{vm.time.time.nome_cartola}}
                </div>
            </div>
            <div class="right">
                <div class="pontuacao" data-ng-style="vm.time.pontos.parcial < 0 && {'color': 'red'}">
                    {{vm.time.pontos.parcial | number:2}}
                </div>
                <div ng-if="mostrarParciais">
                    {{vm.time.pontos.atletas}}/12
                </div>
            </div>
        </div>
    </div>
</div>
<div class="list-group">
    <a ng-repeat="atleta in vm.time.atletas | orderBy:['posicao_id','apelido']" class="list-group-item" ng-click="vm.showHideScouts(atleta.atleta_id);">
        <div class="inlineDiv">
            <div class="escudo">
                <img src="/imgs/{{atleta.clube_id}}.png" height="30" />
            </div>
            <div class="fullW">
                <div class="ligaNome">{{atleta.apelido}}</div>
                <div class="inlineDiv">
                    <div class="clube">{{vm.time.clubes[atleta.clube_id].nome}}</div>
                    <div class="posicaoJogador">{{vm.time.posicoes[atleta.posicao_id].nome}}</div>
                </div>
            </div>
            <!-- <div class="posicaoJogador">
                    {{atleta.parciais.scoutInfo}}
                </div> -->
            <div class="pontuacao right" ng-style="atleta.parciais.pontuacao < 0 && {'color': 'red'}">{{atleta.parciais.pontuacao | number:2}}</div>
        </div>
        <div id="divScouts_{{atleta.atleta_id}}" style="display: none;">
            <div ng-repeat="scout in atleta.parciais.scoutDesc" class="scoutInfo">
                <span>{{scout.descricao}}</span><span class="pontuacao" data-ng-style="scout.pts < 0 && {'color':'red'}">&nbsp;{{scout.pts | number:1}}</span>
            </div>
        </div>
    </a>
</div>