<div class="inlineDiv" ng-init="liga=$ctrl.liga">
    <!--<div class="col1">+</div>-->
    <div>
        <img ng-if="!liga.mata_mata" src="{{liga.url_flamula_png}}" height="35" onerror="this.src='http://www.freeiconspng.com/uploads/flat-shield-icon-17.png'"
        />
        <img ng-if="liga.mata_mata" src="{{liga.url_trofeu_png}}" height="35" onerror="this.src='http://www.freeiconspng.com/uploads/flat-shield-icon-17.png'"
        />
    </div>
    <div>
        <div class="ligaNome">
            <b>{{liga.nome}}</b>
        </div>
        <div class="ligaDesc">
            {{liga.descricao}}
            <ng-show ng-show="{{liga.vencedor}}">
                <br/>Campeão: {{liga.vencedor.nome}}
            </ng-show>
        </div>
    </div>
</div>